@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

::view-transition-group(*) {
  animation: none;
}

:root {
  --view-transition-duration: 1s;
  --view-transition-duration-fast: 0.5s;
  --view-transition-duration-slow: 2s;
  --view-transition-ease: cubic-bezier(0.75, 0, 0.25, 1);
  --view-transition-old-name: fade-out;
  --view-transition-new-name: fade-in;
}
